*{
    margin: 0px;
    padding: 0px;
}

 .bio{
    
    width: 1080px;
    padding: 20px;
    margin: 20px auto;
    background-color: #ffffff;
    line-height: 40px;
 }

 .topnav{
     background-color: #ffffff;
     overflow: hidden;
 }

 body{
     background-color: #cccccc;
 }

 #image{
     float: left;
     margin: 10px;
 }
 
 
 .topnav a{
     float: right;
     color: #000;
     text-align: center;
     text-decoration: none;
     padding: 16px;
     font-size: 17px;
     position: relative;
     right: 200px;
    }

 #aboutme{
     font-size: 50px;
     line-height: 70px;
 }

 #line{
     margin: 10px 0px;
 }

 .logoname a{
     float: left;
     background-color: #4aaaa5;
     text-decoration: none;
     text-align: center;
     color: white;
     padding: 9px;
     font-size: 30px;
     position: relative;
     left: 209px;
 }

 .footer{
     text-align: center;
     line-height: 80px;
     background-color: #666666;
 }
 input[type=text], textarea {
     width: 100%;
 }
 
 #name1, #email1, #message1{
     font-size: 1.5em;
 }

 #fname, #email{
     font-size: 24px;
     border-radius: 4px;
 }

 input[type=submit]{
     background-color: #4aaaa5;
     padding: 12px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 .portf{
     margin: 0px 20px;
 }
 
 .portfimgs{
     position: relative;
     text-align: center;
     color: white;
 }

 .img1{
     position: absolute;
     left: 100px;
     background-color: #4aaaa5;
     padding: 0px 72px;
     top: 125px;
     left: 75px;
 }

 .img2{
    position: absolute;
    left: 318px;
    background-color: #4aaaa5;
    padding: 0px 72px;
    top: 125px;
}

.img3{
    position: absolute;
    left: 563px;
    background-color: #4aaaa5;
    padding: 0px 72px;
    top: 125px;
}

.img4{
    position: absolute;
    left: 807px;
    background-color: #4aaaa5;
    padding: 0px 72px;
    top: 125px;
}

.img5{
    position: absolute;
    left: 440px;
    background-color: #4aaaa5;
    padding: 0px 72px;
    top: 335px;
}